.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e6ede8;
}

.signUpContainerBody {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
  background: white;
  margin-bottom: 24px;
}
