.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 8px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 24px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
