.giftCardContainer {
  margin: 16px 0px 0px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailReviewContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  overflow-y: auto;
  height: 84vh;
}
